In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("Real_Estate.csv")
data.head(10)

,Transaction date,House age,Distance to the nearest MRT station,Number of convenience stores,Latitude,Longitude,House price of unit area
0,2012-09-02 16:42:30.519336,13.3,4082.0150,8,25.007059,121.561694,6.488673
1,2012-09-04 22:52:29.919544,35.5,274.0144,2,25.012148,121.546990,24.970725
2,2012-09-05 01:10:52.349449,1.1,1978.6710,10,25.003850,121.528336,26.694267
3,2012-09-05 13:26:01.189083,22.2,1055.0670,5,24.962887,121.482178,38.091638
4,2012-09-06 08:29:47.910523,8.5,967.4000,6,25.011037,121.479946,21.654710
5,2012-09-06 14:18:34.142030,13.3,279.1726,2,24.994994,121.543823,36.972376
6,2012-09-06 15:07:23.396013,38.5,377.7956,3,25.009895,121.558955,27.637382
7,2012-09-07 07:57:25.291322,15.2,552.4371,5,24.997109,121.544377,44.116585
8,2012-09-07 10:06:48.384148,24.0,617.4424,3,24.987622,121.527841,49.071247
9,2012-09-07 13:21:33.254701,13.0,323.6550,8,24.978663,121.483457,43.114353

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Transaction date                     414 non-null    object
 1   House age                            414 non-null    float64
 2   Distance to the nearest MRT station  414 non-null    float64
 3   Number of convenience stores         414 non-null    int64
 4   Latitude                             414 non-null    float64
 5   Longitude                            414 non-null    float64
 6   House price of unit area             414 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 22.8+ KB

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import datetime

In [8]:
data["Transaction date"] = pd.to_datetime(data["Transaction date"])
data["Transaction year"] = data["Transaction date"].dt.year
data["Transaction month"] = data["Transaction date"].dt.month

In [10]:
data = data.drop(columns = ["Transaction date"])

In [11]:
X = data.drop("House price of unit area",axis = 1)
y = data["House price of unit area"]

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 42)

scaler =StandardScaler()
X_train_scaled =scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [13]:
X_train_scaled.shape

(331, 7)

In [14]:
X_test_scaled.shape

(83, 7)

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor ,GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error ,r2_score

In [19]:
models = {
    "Linear Regression": LinearRegression(),
    "Decision Tree" : DecisionTreeRegressor(random_state =42),
    "Random Forest" : RandomForestRegressor(random_state = 42),
    "Gradient Boosting" :GradientBoostingRegressor(random_state =42)
}

results ={}

for name , model in models.items():
    model.fit(X_train_scaled,y_train)
    
    predictions = model.predict(X_test_scaled)
    mae = mean_absolute_error(y_test,predictions)
    r2 = r2_score(y_test,predictions)
    
    results[name] = {"MAE":mae,"R²" :r2}
    
results_df = pd.DataFrame(results).T
print(results_df)

                         MAE        R²
Linear Regression   9.518530  0.549566
Decision Tree      11.415789  0.176253
Random Forest       9.804854  0.522600
Gradient Boosting  10.088533  0.475219